services:
  - type: web
    name: bet-xrd-morphology
    env: python
    plan: free
    pythonVersion: "3.11.9"
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      mkdir -p ~/.streamlit/
      echo "[server]
      headless = true
      port = \$PORT
      enableCORS = false
      enableXsrfProtection = false
      " > ~/.streamlit/config.toml
    startCommand: streamlit run app.py
